@page "/Expenses"
@using BudgetBuddy.Lib.DAL
@using BudgetBuddy.Models
@using BudgetBuddy.Services
@using System.Linq.Expressions
@inject BudgetService BudgetService
@inject CategoriesManager CategoriesManager
@inject BudgetItemManager BudgetItemManager

<div class="container mt-5">
    <h1 class="mb-4">Utgifter</h1>
    

    <div class="row">
        <!-- Add Expense Form -->
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    <h4>Lägg till utgift</h4>
                </div>
                <div class="card-body">
                    <EditForm Model="@NewItem" OnValidSubmit="AddBudgetItem" FormName="BudgetForm">
                        <DataAnnotationsValidator/>
                        <ValidationSummary/>

                        <div class="mb-3">
                            <label for="name" class="form-label">Utgiftskälla:</label>
                            <InputText id="name" class="form-control" @bind-Value="NewItem.Name"/>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="form-label">Belopp:</label>
                            <InputNumber id="amount" class="form-control" @bind-Value="NewItem.Amount"/>
                        </div>
                        <div class="mb-3">
                            <label for="category" class="form-label">Kategori:</label>
                            <InputSelect id="category" class="form-control" @bind-Value="NewItem.CategoryId">
                                <option value="">Välj en kategori</option>
                                @foreach (var category in Categories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            </InputSelect>
                        </div>

                        <button type="submit" class="btn btn-primary">Lägg till</button>
                    </EditForm>
                </div>
            </div>
        </div>

        <!-- Expenses Table -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="mb-0">Budgetposter</h4>
                        <div class="d-flex mb-0">
                            <div class="form-group mb-0 me-2">
                                <select id="categorySelect" class="form-select" @bind="SelectedCategory" @bind:event="onchange">
                                    <option value="">Kategori</option>
                                    @if (Categories != null)
                                    {
                                        @foreach (var category in Categories)
                                        {
                                            <option value="@category.Name">@category.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group mb-0 me-2">
                                <select id="yearSelect" class="form-select" @bind="SelectedYear">
                                    <option value="">År</option>
                                    @foreach (var year in Years)
                                    {
                                        <option value="@year">@year</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group mb-0 me-2">
                                <select id="monthSelect" class="form-select" @bind="SelectedMonth">
                                    <option value="">Alla månader</option>
                                    @foreach (var month in GetMonths())
                                    {
                                        <option value="@month.Value">@month.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Utgift</th>
                            <th>Belopp</th>
                            <th>Kategori</th>
                            <th>Datum</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in FilteredBudgetItems)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>-@item.Amount kr</td>
                                <td>@(CategoryName = Categories.Where(c => c.Id == item.CategoryId).Select(c => c.Name).FirstOrDefault())</td>
                                <td>@item.Date.ToShortDateString()</td>
                            </tr>
                        }
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Totala utgifter:</th>
                            <th>-@FilteredBudgetItems.Sum(i => i.Amount) kr</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private BudgetItem NewItem = new();
    private List<Category> Categories { get; set; } = new();
    private List<BudgetItem> FilteredBudgetItems { get; set; } = new();
    private IEnumerable<int> Years { get; set; } = new List<int>();
    private string CategoryName { get; set; }
    private int? _selectedMonth;
    private int? _selectedYear;
    private string? _selectedCategory;

    protected override async Task OnInitializedAsync()
    {
        Categories = await CategoriesManager.GetCategoriesAsync();
        FilteredBudgetItems = await GetFilteredBudgetItems();
        Years = await GetYears();
    }

    private async Task AddBudgetItem()
    {
        NewItem.IsIncome = false; 
        NewItem.Date = DateTime.Now;
        await BudgetItemManager.CreateBudgetItemAsync(NewItem);
        FilteredBudgetItems = await GetFilteredBudgetItems();
        NewItem = new BudgetItem
        {
            Name = string.Empty,
            Amount = 0,
            IsIncome = false,
            Date = DateTime.Now
        };
        
        StateHasChanged();
    }

    private async Task<List<BudgetItem>> GetFilteredBudgetItems()
    {
        var items = await BudgetItemManager.GetBudgetItemsAsync();
        items = items.Where(i => i.IsIncome == false).ToList();
        if (SelectedMonth != null || SelectedMonth.ToString() != "")
        {
            var month = int.Parse(SelectedMonth.ToString());
            items = items.Where(i => i.Date.Month == month).ToList();
        }
        if (SelectedYear != null ||SelectedYear.ToString() != "")
        {
            var year = int.Parse(SelectedYear.ToString());
            items = items.Where(i => i.Date.Year == year).ToList();
        }
        if (!string.IsNullOrWhiteSpace(SelectedCategory))
        {
            var selectedCategory = Categories.Where(c => c.Name == SelectedCategory).FirstOrDefault();
            items = items.Where(i => i.CategoryId == selectedCategory.Id).ToList();
        }
        return items;
    }

    private IEnumerable<(string Text, string Value)> GetMonths()
    {
        return Enumerable.Range(1, 12).Select(m => (
            Text: new DateTime(1, m, 1).ToString("MMMM"),
            Value: m.ToString()
        ));
    }

    private async Task<IEnumerable<int>> GetYears()
    {
        var items = await BudgetItemManager.GetBudgetItemsAsync(); 
        var years = items
            .Where(i => i.IsIncome == false)
            .Select(i => i.Date.Year)
            .Distinct()
            .OrderByDescending(y => y);
        return years;
    }
    private async Task UpdatedFilters()
    {
        FilteredBudgetItems =  await GetFilteredBudgetItems();
    }
    private async Task OnFilterChanged()
    {
        await UpdatedFilters();
        StateHasChanged();
    }
    
    

    public int? SelectedYear
    {
        get => _selectedYear;
        set
        {
            _selectedYear = value;
            _ = OnFilterChanged();
        }
    }
    

    public int? SelectedMonth
    {
        get => _selectedMonth;
        set
        {
            _selectedMonth = value;
            _ = OnFilterChanged();
        }
    }
    public string? SelectedCategory
    {
        get => _selectedCategory;
        set
        {
            _selectedCategory = value;
            _ = OnFilterChanged();
        }
    }
    
}
